# =========================
# Dependencies
# =========================
node_modules
.pnpm-store
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

docs/

# =========================
# Build outputs
# =========================
dist
build
.next
out
coverage

# =========================
# Logs
# =========================
logs
*.log
npm-debug.log*
pnpm-debug.log*
.pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# =========================
# Environment files
# =========================
.env
.env.*
!.env.example

# =========================
# OS files
# =========================
.DS_Store

# =========================
# IDE / Editors
# =========================
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json
!.vscode/launch.json

.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# =========================
# Temp files
# =========================
.temp
.tmp

# =========================
# Runtime
# =========================
pids
*.pid
*.seed
*.pid.lock

# =========================
# Reports
# =========================
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# =========================
# Prisma
# =========================
generated/prisma

# =========================
# Vercel
# =========================
.vercel

# =========================
# TypeScript
# =========================
*.tsbuildinfo
next-env.d.ts

# =========================
# Next.js
# =========================
.next/
out/

# =========================
# Testing
# =========================
.nyc_output

# =========================
# Misc
# =========================
*.pem